{{#extends "base"}}
{{#block "content"}}
<h1>Confirmed Orders</h1>
<table class="table">
    <tr>
        <th>Fulfillment Date</th>
        <th>Ordered Amount</th>
        <th>Required Date</th>
        <th>Quote ID</th>
        <th>Delivery Mode</th>
        
    </tr>
    {{#each confirmed_orders}}
    <tr>
        <td>{{fulfillment_date}}</td>
        <td>{{ordered_amount}}</td>
        <td>{{required_date}}</td>
        <td>{{quote_id}}</td>
        <td>{{delivery_mode}}</td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
